<section class="about area-bg pt-page" data-id="about">
    <!-- ========== Start About Me ========== -->
    <div class="about-me container">
        <div class="main-title">
            <h2><span>About Me</span></h2>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-3 col-md-4">
                <div class="about-image">
                    <img class="img-fluid" src="{{ asset('personal/coder2.webp') }}" alt="">
                </div>
            </div>
            <div class="col-xl-9 col-md-8">
                <div class="about-info">
                    <h3>Hello,</h3>
                    <p>My name is Rimi Doe, I'm a Freelance Web Developer based in New York, USA, and I'm very passionate and dedicated to my work .With 6 years experience as a professional Web Developer, I have acquired the skills necessary to build great and premium websites.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== End About Me ========== -->

    <!-- ========== Start Services ========== -->
    <div class="services container">
        <div class="main-title">
            <h3>My Services</h3>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="service">
                    <div class="service-icon">
                        <i class="flaticon-idea"></i>
                    </div>
                    <h4>Creative Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="service two">
                    <div class="service-icon">
                        <i class="flaticon-coding"></i>
                    </div>
                    <h4>Clean Code</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="service three">
                    <div class="service-icon">
                        <i class="flaticon-analysis"></i>
                    </div>
                    <h4>Branding</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="service">
                    <div class="service-icon">
                        <i class="flaticon-web"></i>
                    </div>
                    <h4>User Interface</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="service">
                    <div class="service-icon">
                        <i class="flaticon-user-experience"></i>
                    </div>
                    <h4>User Experience</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="service">
                    <div class="service-icon">
                        <i class="flaticon-technical-support"></i>
                    </div>
                    <h4>Fast Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== End Services ========== -->

    <!-- ========== Start Fun Facts ========== -->
    <div class="facts container">
        <div class="main-title">
            <h3>Awesome Facts</h3>
        </div>
        <div class="facts-content">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="fact-item">
                        <span class="fact-icon"><i class="flaticon-coding"></i></span>
                        <h4>projects Done</h4>
                        <span class="fact-number" data-from="0" data-to="554" data-speed="2500"></span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="fact-item">
                        <span class="fact-icon"><i class="flaticon-feedback"></i></span>
                        <h4>Happy Clients</h4>
                        <span class="fact-number" data-from="0" data-to="540" data-speed="2500"></span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="fact-item">
                        <span class="fact-icon"><i class="flaticon-time"></i></span>
                        <h4>Hours Of Work</h4>
                        <span class="fact-number" data-from="0" data-to="1200" data-speed="2500"></span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="fact-item">
                        <span class="fact-icon"><i class="flaticon-chat"></i></span>
                        <h4>Coffee Cups</h4>
                        <span class="fact-number" data-from="0" data-to="160" data-speed="2500"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== End Fun Facts ========== -->

    <!-- ========== Start Pricing ========== -->
    <div class="pricing container">
        <div class="main-title">
            <h3>Pricing table</h3>
        </div>
        <div class="pricing-plans">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="pricing-plan one">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h2>Starter Price</h2>
                            </div>
                            <div class="pricing-price">
                                <p><span class="up">$</span> <span class="price">16</span> <span class="down">/Mo</span></p>
                            </div>
                        </div>
                        <ul class="pricing-features list-unstyled">
                            <li><i class="fa fa-check"></i>Ui Design</li>
                            <li><i class="fa fa-check"></i>Web Development</li>
                            <li class="disable"><i class="fa fa-close"></i>Logo design</li>
                            <li class="disable"><i class="fa fa-close"></i>SEO optimization</li>
                            <li class="disable"><i class="fa fa-close"></i>Wordpress integration</li>
                        </ul>
                        <div class="pricing-btn">
                            <a href="#" class="main-btn custom-btn"><span>Order Now</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="pricing-plan two">
                        <div class="pricing-head">
                            <i class="flaticon-lotus"></i>
                            <div class="pricing-title">
                                <h2>Hourly payment</h2>
                            </div>
                            <div class="pricing-price">
                                <p><span class="up">$</span> <span class="price">42</span> <span class="down">/Hour</span></p>
                            </div>
                        </div>
                        <ul class="pricing-features list-unstyled">
                            <li><i class="fa fa-check"></i>Ui Design</li>
                            <li><i class="fa fa-check"></i>Web Development</li>
                            <li><i class="fa fa-check"></i>Logo design</li>
                            <li class="disable"><i class="fa fa-close"></i>SEO optimization</li>
                            <li class="disable"><i class="fa fa-close"></i>Wordpress integration</li>
                        </ul>
                        <div class="pricing-btn">
                            <a href="#" class="main-btn"><span>Order Now</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 offset-xl-0 offset-lg-3 offset-md-3">
                    <div class="pricing-plan three">
                        <div class="pricing-head">
                            <div class="pricing-title">
                                <h2>Full time</h2>
                            </div>
                            <div class="pricing-price">
                                <p><span class="up">$</span> <span class="price">100</span> <span class="down">/Mo</span></p>
                            </div>
                        </div>
                        <ul class="pricing-features list-unstyled">
                            <li><i class="fa fa-check"></i>Ui Design</li>
                            <li><i class="fa fa-check"></i>Web Development</li>
                            <li><i class="fa fa-check"></i>Logo design</li>
                            <li><i class="fa fa-check"></i>SEO optimization</li>
                            <li><i class="fa fa-check"></i>Wordpress integration</li>
                        </ul>
                        <div class="pricing-btn">
                            <a href="#" class="main-btn custom-btn"><span>Order Now</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== End Pricing ========== -->

    <!-- ========== Start Testimonials ========== -->
    <div class="testimonials container">
        <div class="main-title">
            <h3>Testimonials</h3>
        </div>
        <div class="testimonials-slider-content">
            <!-- Testimonials Slider -->
            <div class="testimonials-slider">
                <!-- Testimonials Slider Item -->
                <div class="testimonials-item text-center">
                    <div class="image-item">
                        <img src="images/testimonials/1.jpg" alt="">
                    </div>
                    <div class="testimonials-info">
                        <h3>Joe Paulian</h3>
                        <h5>Web Developer</h5>
                    </div>
                    <div class="testimonials-description">
                        <i>“</i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <i>”</i>
                    </div>
                </div>
                <!-- Testimonials Slider Item -->
                <div class="testimonials-item text-center">
                    <div class="image-item">
                        <img src="images/testimonials/2.jpg" alt="">
                    </div>
                    <div class="testimonials-info">
                        <h3>Silvia Hatmun</h3>
                        <h5>SEO Manager</h5>
                    </div>
                    <div class="testimonials-description">
                        <i>“</i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <i>”</i>
                    </div>
                </div>
                <!-- Testimonials Slider Item -->
                <div class="testimonials-item text-center">
                    <div class="image-item">
                        <img src="images/testimonials/3.jpg" alt="">
                    </div>
                    <div class="testimonials-info">
                        <h3>Cristina Jordan</h3>
                        <h5>Web Developer</h5>
                    </div>
                    <div class="testimonials-description">
                        <i>“</i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <i>”</i>
                    </div>
                </div>
                <!-- Testimonials Slider Item -->
                <div class="testimonials-item text-center">
                    <div class="image-item">
                        <img src="images/testimonials/4.jpg" alt="">
                    </div>
                    <div class="testimonials-info">
                        <h3>Elina yasmin</h3>
                        <h5>Graphic Designer</h5>
                    </div>
                    <div class="testimonials-description">
                        <i>“</i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <i>”</i>
                    </div>
                </div>
            </div>
            <!-- Slider Paging -->
            <ul class="paging-container list-unstyled text-center list-inline">
                <li class="testimonials-arrows" id="testimonials-prevArrow">
                    <div class="testimonials-client-img"></div>
                    <i class="fa fa-chevron-left"></i>
                </li>
                <li id="testimonial-paging"></li>
                <li class="testimonials-arrows" id="testimonials-nextArrow">
                    <div class="testimonials-client-img"></div>
                    <i class="fa fa-chevron-right"></i>
                </li>
            </ul>
        </div>
    </div>

</section>