<section class="blog area-bg pt-page" data-id="blog">
    <div class="container">
        <div class="main-title">
            <h2><span>Blog</span></h2>
        </div>
        <div class="row">
            {% if blogs is not null %}
            {% for blog in blogs %}
            <!-- New Item -->
            <div class="col-xl-6 col-md-12">
                <div class="post">
                    <!-- Post Image -->
                    <div class="post-img">
                        <img src="images/blog/1.jpg" class="img-fluid" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <div class="post-date">{{ blog.CreatedAt |date }}<div>
                            <div class="post-title">
                                <a href="blog-single.html" target="_blank"><h4>{{ blog.title }}</h4></a>
                            </div>
                            <div class="post-text">
                                {{ blog.content [:100]|raw  }} {{ ' ...' }}
                            </div>
                            <a href="blog-single.html" target="_blank" class="post-more">Read more</a>
                        </div>
                    </div>
                </div>
                <!-- New Item -->
                {% endfor %}
                {% else %}
                    <div class="alert alert-danger">No post found</div>
                {% endif %}
            </div>
            <div class="my-btn">
                <a href="blog.html" target="_blank" class="main-btn">All Posts</a>
            </div>
        </div>
</section>