<section class="contact area-bg pt-page" data-id="contact">
    <div class="container">
        <div class="main-title">
            <h2><span>Contact</span></h2>
        </div>
        <div class="row">
            <div class="col-xl-5 col-lg-12">
                <div class="contact-boxes">
                    <div class="contact-box">
                        <h4 class="title-box">Location</h4>
                        <div class="content-box">
                            <p>
                                <i class="fa fa-home"></i>
                                Nairobi, Kenya
                            </p>
                        </div>
                    </div>
                    <div class="contact-box two">
                        <h4 class="title-box">Email</h4>
                        <div class="content-box">
                            <p>
                                <i class="fa fa-envelope"></i>
                                info@iskeke.me
                            </p>
                        </div>
                    </div>
                    <div class="contact-box">
                        <h4 class="title-box">Phone</h4>
                        <div class="content-box">
                            <p>
                                <i class="fa fa-phone"></i>
                                +254 0115910075
                            </p>
                        </div>
                    </div>
                    <div class="contact-box">
                        <h4 class="title-box">Website</h4>
                        <div class="content-box">
                            <p>
                                <i class="fa fa-globe"></i>
                                isikeke.me
                            </p>
                        </div>
                    </div>
                    <div class="contact-box">
                        <h4 class="title-box">Social Media</h4>
                        <div class="content-box">
                            <p>
                                <span><a href="#"><i class="fa fa-facebook"></i></a></span>
                                <span><a href="#"><i class="fa fa-twitter"></i></a></span>
                                <span><a href="#"><i class="fa fa-google-plus"></i></a></span>
                                <span><a href="#"><i class="fa fa-behance"></i></a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12">
                <form class="contact-form" action="https://hasnaanajmi.com/env/Euzan/mail.php" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" required value="" onkeyup="this.setAttribute('value', this.value);">
                        <label for="name">Name</label>
                        <span class="input-border"></span>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" required value="" onkeyup="this.setAttribute('value', this.value);">
                        <label for="email">Email</label>
                        <span class="input-border"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="subject" required value="" onkeyup="this.setAttribute('value', this.value);">
                        <label for="subject">Subject</label>
                        <span class="input-border"></span>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="message" name="message" required data-value="" onkeyup="this.setAttribute('data-value', this.value);"></textarea>
                        <label for="message">Your Message</label>
                        <span class="input-border"></span>
                    </div>
                    <!-- Button Send Message  -->
                    <button class="contact-btn main-btn btn btn-block" type="submit" name="send">Send Message</button>
                    <!-- Form Message  -->
                    <div class="form-message text-center"><span></span></div>
                </form>
            </div>
        </div>
    </div>
</section>