<section class="home pt-page" data-id="home">
    <div class="container-fluid area-bg">
        <div class="home-intro d-flex h-100 align-items-center">
            <div class="home-info">
                <h1><span>I'm </span>Alex kekee</h1>
                <p>I'm a Freelance Web Developer based in Nairobi,Kenya, and I'm very passionate and dedicated to my work, I have acquired the skills necessary to build great and premium web applications.</p>
               {# <a href="#" class="main-btn">Download cv</a>
                <a href="#" class="main-btn custom-btn">Hire Me</a>#}

                <p>
                    <a href="https://wakatime.com/@2573d11d-8fce-4d30-b2d3-4181d707f20c">
                        <img src="https://wakatime.com/badge/user/2573d11d-8fce-4d30-b2d3-4181d707f20c.svg" alt="Total time coded since Oct 22 2022" /></a>
                    <span>
                        <a href="https://github.com/Kyalo-kekee"><i class="fa fa-github"></i></a>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>