<section class="portfolio area-bg pt-page" data-id="portfolio">
    <div class="container my-container">
        <div class="main-title">
            <h2><span>Portfolio</span></h2>
        </div>
        <div class="portfolio-content">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="item">
                        <a href="#" data-type="project1">
                            <img class="img-fluid" src="{{ asset('project/isikeke-schoolManagement.PNG') }}" alt="">
                            <div class="overlay">
                                <h4 class="item-title">School Management System</h4>
                            </div>
                            <span class="text-dark text-center"><i class="fa fa-github"></i></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>