<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="php-8.1.5" />
            <add name="php-8.1.5" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Development\php-8.1.9-nts-iis\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>