<!-- ========== Start Navbar ========== -->

<div class="vertical-nav">
    <!-- Intro -->
    <img class="img-fluid " src="{{ asset('personal/photo.jpg') }}" alt="" style="border-radius: 50%; width: 80px; height: 80px">
    <h2>Alex Kekee</h2>
    <p>Full-Stack Developer</p>
    <!-- Mini Menu -->
    <div class="mini-menu">
        <ul class="list-unstyled">
            <li class="active"><a class="pt-trigger" href="#home"><i class="flaticon-homepage"></i>Home</a></li>
            <li><a class="pt-trigger" href="#about"><i class="flaticon-user"></i>About</a></li>
            <li><a class="pt-trigger" href="#resume"><i class="flaticon-leaf"></i>Resume</a></li>
            <li><a class="pt-trigger" href="#portfolio"><i class="flaticon-squares"></i>Work</a></li>
            <li><a class="pt-trigger" href="#blog"><i class="flaticon-blogging"></i>Blog</a></li>
            <li><a class="pt-trigger" href="#contact"><i class="flaticon-headphones"></i>Contact</a></li>
        </ul>
    </div>
    <div class="line"></div>
    <span class="close-nav"><i class="fa fa-close"></i></span>
</div>