<!-- ========== Start Loading ========== -->

<div class="preloader">
    <div class="loading-inner"></div>
</div>

<!-- ========== End Loading ========== -->

<ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>